    @import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
    * {
        padding: 0;
        margin: 0;
        font-family: 'Rubik', sans-serif;
    }
    
    header {
        position: relative;
        width: 100%;
        background: url(../images/about-bg.png);
        background-repeat: no-repeat;
        background-size: auto;
    }
    
    @media (min-width:1200px) {
        .container {
            max-width: 1290px !important;
        }
    }
    /* Navbar */
    
    .navbar {
        background: transparent;
        padding: 15px 0 0;
    }
    
    .navbar ul li {
        padding-right: 30px !important;
    }
    
    .navbar ul li:last-child {
        padding-right: 0px !important;
    }
    
    .navbar ul li a {
        font-size: 14px;
        color: #fff !important;
        font-weight: 300;
        text-transform: uppercase;
        cursor: pointer;
        transition: .10s all;
    }
    
    .navbar ul li a:hover {
        color: #6253FF !important;
    }
    
    .navbar-brand.logo img {
        width: 135px;
    }
    /* .hero-section */
    
    .hero-section2 {
        position: relative;
        width: 100%;
        padding: 150px 0 200px;
    }
    
    .hero-section2 .hero-content {
        text-align: center;
    }
    
    .hero-section2 h2 {
        font-size: 50px;
        color: #fff;
        font-weight: 300;
        line-height: 1.17;
        letter-spacing: 1.5px;
        text-transform: capitalize;
    }

    /* Footer */
    
    .footer-contact {
        position: relative;
        width: 100%;
        padding: 40px 130px;
        background: #2C3965;
        z-index: 0;
    }
    
    .contact-icon {
        position: relative;
        margin-right: 25px;
    }
    
    .footer-contact-col {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer-contact-col .contact-icon img {
        width: 40px;
    }
    
    .footer-contact-col .contact-content {
        position: relative;
    }
    
    .footer-contact-col .contact-content::before {
        content: "";
        position: absolute;
        left: -5px;
        width: 2px;
        height: 90%;
        background: #6253FF;
    }
    
    .footer-contact-col span {
        font-size: 18px;
        line-height: 2.15;
        color: #6253ff;
        margin-left: 15px;
    }
    
    .footer-contact-col p {
        font-size: 14px;
        line-height: 1.11;
        letter-spacing: normal;
        color: #ffffff;
        margin-left: 15px;
        font-weight: 300;
    }
    
    .footer-contact-col p a {
        font-size: 17px;
        line-height: 1.11;
        letter-spacing: normal;
        color: #ffffff;
    }
    
    .footer-main {
        position: relative;
        width: 100%;
        padding: 50px 0 0;
        background: url(../images/footer-bg.png);
        background-repeat: no-repeat;
        background-size: auto;
        z-index: 0;
    }
    
    .footer-main::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(44, 57, 101, .9);
        z-index: -1;
    }
    
    .footer-main .footer-main-wrapper {
        width: 100%;
        text-align: center;
        padding: 60px 0 75px;
    }
    
    .footer-main-wrapper ul {
        padding: 0;
        margin: 30px 0 20px;
    }
    
    .footer-main-wrapper ul li {
        list-style: none;
        display: inline-block;
        margin: 0;
    }
    
    .footer-main-wrapper ul li a {
        font-size: 16px;
        line-height: 1.23;
        letter-spacing: 1.57px;
        color: #ffffff;
        text-decoration: none;
        padding: 0 25px;
        font-weight: 300;
    }
    
    .footer-main-wrapper p {
        opacity: 0.43;
        font-size: 15px;
        line-height: 1.2;
        letter-spacing: 1.43px;
        text-align: center;
        color: #ffffff;
        font-weight: 300;
        margin-top: 30px;
    }
    
    .copyright-text p {
        font-size: 15px;
        font-weight: 300;
        color: #fff;
        margin-bottom: 0;
    }
    
    .copyright-links ul {
        padding: 0;
        margin: 0;
    }
    
    .copyright-links ul li {
        list-style: none;
        display: inline-block;
        padding: 0 15px;
    }
    
    .copyright-links ul li a {
        font-size: 14px;
        color: #fff;
    }
    
    .footer-copyright {
        width: 100%;
        padding: 35px 0;
        border-top: 1px solid #fff;
    }
 
    
    @media(max-width:768px) {
        header nav {
            padding: 5px 27px !important;
        }
        header nav .navbar-toggler {
            background: #ddd;
        }
        .about-content-wrapper {
            padding: 0 10px;
        }
        .about-section2 .founder-quote {
            background: #6253FF;
            padding: 30px 40px;
            margin: 15px 0px 15px 0px;
        }
        .footer-contact {
            padding: 40px 10px;
        }
        .footer-contact-col {
            justify-content: flex-start;
            margin-bottom: 20px;
        }
        .footer-main-wrapper ul li a {
            font-size: 14px;
            padding: 0 6px;
        }
        .hero-section2 {
            padding: 75px 0 75px;
        }
        .hero-section2 h2 {
            font-size: 35px;
        }
        .about-content-col h3 {
            width: 100%;
        }
        .about-section1 {
            padding: 70px 0;
        }
        .aboutshape {
            display: none;
        }
        .footer-main .footer-main-wrapper {
            padding: 20px 0 50px;
        }
        .copyright-links ul li {
            padding: 0 5px;
        }
        .footer-copyright {
            text-align: center;
        }
        .about-content-col {
            margin-top: 40px;
        }
    }
    
    @media (min-width:769px) and (max-width:1200px) {
        .about-content-wrapper {
            padding: 0 20px;
        }
    }


    /* About us */
/* Contact Form */
.hero_col_img img {
    width: 80%;
    height: 80%;
}
.contact-from {
    width: 100%;
    padding: 100px 0;
    background-color: #fbfbfb;
    position: relative;
}
.contact-from .contact-form-shape{
    position: absolute;
}
.contact-from .contact-form-shape.shape1{
   bottom: 100px;
   left: 100px;
}
.contact-from .contact-form-shape.shape2{
    bottom: 0px;
    left: 100px;
 }
.contact-from .contact-form-row{
    position: relative;
    width: 80%;
    margin: 0 auto;
}
.main-contact-from {
    box-shadow: 0 0 40px 0 rgba(209, 215, 255, 0.16);
    background-color: #ffffff;
}
.contactfrom-heading h2{
  font-family: 'Rubik', sans-serif;
  font-size: 38px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.09;
  letter-spacing: -0.86px;
  text-align: center;
  color: #6253ff;
}
.contactfrom-heading .divider{
width: 125px;
height: 3px;
background-color: #6253ff;
margin-left: 24px;
margin-bottom: 10px;
margin: 0px auto;
}
.form-container .form-label {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: left;
    color: #27445e;
}
.form-container {
    padding: 50px;
}
.form-container .form-control {
    background-color: #f8f8f8;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #83858f;
    border: none;
    padding: 15px 20px !important;
    height: 50px;
    border-radius: 6px;
    margin-bottom: 20px;
  
}
.contactfrom-heading {
    padding-top: 45px;
}
#form-submit {
    background-color: #6253ff;
    border-radius: 20px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.91;
    letter-spacing: -0.46px;
    color: #ffffff;
    padding: 10px 45px;
    border: none;
    margin-top: 15px;
}
.letus-talk {
    background-color: #fbfbfb;
    padding: 20px 0 0 90px;
}
.letus-talk .heading h3 {
        opacity: 0.06;
        font-size: 40px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.06;
        letter-spacing: -1px;
        text-align: left;
        color: #033567;
        margin-bottom: 0;
}
.letus-talk .heading h2 {
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.12;
    letter-spacing: -1.04px;
    text-align: left;
    color: #033567;
    margin-bottom: 15px;
}
 .heading p{
    opacity: 0.8;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #033567;
    margin-bottom: 40px;
  }
.contact-list {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 30px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.28px;
    color: #033567;
}
.contact-list .img-div img {
    width: 40px;
}

.contact-list .img-div {
    margin-right: 15px;
}
@media(max-width:768px){
    .letus-talk {
        padding: 20px 0 0 0px;
    }

}